body{
    animation: cambiar_fondo 5s infinite;
}

@keyframes cambiar_fondo{
    0% { background: linear-gradient(90deg, rgba(0.0,0,255.0,1) 0%, rgba(255.0,0,0.0,1) 100%); }
    1% { background: linear-gradient(90deg, rgba(5.1,0,249.9,1) 0%, rgba(249.9,0,5.1,1) 100%); }
    2% { background: linear-gradient(90deg, rgba(10.2,0,244.8,1) 0%, rgba(244.8,0,10.2,1) 100%); }
    3% { background: linear-gradient(90deg, rgba(15.3,0,239.7,1) 0%, rgba(239.7,0,15.3,1) 100%); }
    4% { background: linear-gradient(90deg, rgba(20.4,0,234.6,1) 0%, rgba(234.6,0,20.4,1) 100%); }
    5% { background: linear-gradient(90deg, rgba(25.5,0,229.5,1) 0%, rgba(229.5,0,25.5,1) 100%); }
    6% { background: linear-gradient(90deg, rgba(30.6,0,224.4,1) 0%, rgba(224.4,0,30.6,1) 100%); }
    7% { background: linear-gradient(90deg, rgba(35.7,0,219.3,1) 0%, rgba(219.3,0,35.7,1) 100%); }
    8% { background: linear-gradient(90deg, rgba(40.8,0,214.2,1) 0%, rgba(214.2,0,40.8,1) 100%); }
    9% { background: linear-gradient(90deg, rgba(45.9,0,209.1,1) 0%, rgba(209.1,0,45.9,1) 100%); }
    10% { background: linear-gradient(90deg, rgba(51.0,0,204.0,1) 0%, rgba(204.0,0,51.0,1) 100%); }
    11% { background: linear-gradient(90deg, rgba(56.1,0,198.9,1) 0%, rgba(198.9,0,56.1,1) 100%); }
    12% { background: linear-gradient(90deg, rgba(61.2,0,193.8,1) 0%, rgba(193.8,0,61.2,1) 100%); }
    13% { background: linear-gradient(90deg, rgba(66.3,0,188.7,1) 0%, rgba(188.7,0,66.3,1) 100%); }
    14% { background: linear-gradient(90deg, rgba(71.4,0,183.6,1) 0%, rgba(183.6,0,71.4,1) 100%); }
    15% { background: linear-gradient(90deg, rgba(76.5,0,178.5,1) 0%, rgba(178.5,0,76.5,1) 100%); }
    16% { background: linear-gradient(90deg, rgba(81.6,0,173.4,1) 0%, rgba(173.4,0,81.6,1) 100%); }
    17% { background: linear-gradient(90deg, rgba(86.7,0,168.3,1) 0%, rgba(168.3,0,86.7,1) 100%); }
    18% { background: linear-gradient(90deg, rgba(91.8,0,163.2,1) 0%, rgba(163.2,0,91.8,1) 100%); }
    19% { background: linear-gradient(90deg, rgba(96.9,0,158.1,1) 0%, rgba(158.1,0,96.9,1) 100%); }
    20% { background: linear-gradient(90deg, rgba(102.0,0,153.0,1) 0%, rgba(153.0,0,102.0,1) 100%); }
    21% { background: linear-gradient(90deg, rgba(107.1,0,147.9,1) 0%, rgba(147.9,0,107.1,1) 100%); }
    22% { background: linear-gradient(90deg, rgba(112.2,0,142.8,1) 0%, rgba(142.8,0,112.2,1) 100%); }
    23% { background: linear-gradient(90deg, rgba(117.3,0,137.7,1) 0%, rgba(137.7,0,117.3,1) 100%); }
    24% { background: linear-gradient(90deg, rgba(122.4,0,132.6,1) 0%, rgba(132.6,0,122.4,1) 100%); }
    25% { background: linear-gradient(90deg, rgba(127.5,0,127.5,1) 0%, rgba(127.5,0,127.5,1) 100%); }
    26% { background: linear-gradient(90deg, rgba(132.6,0,122.4,1) 0%, rgba(122.4,0,132.6,1) 100%); }
    27% { background: linear-gradient(90deg, rgba(137.7,0,117.3,1) 0%, rgba(117.3,0,137.7,1) 100%); }
    28% { background: linear-gradient(90deg, rgba(142.8,0,112.2,1) 0%, rgba(112.2,0,142.8,1) 100%); }
    29% { background: linear-gradient(90deg, rgba(147.9,0,107.1,1) 0%, rgba(107.1,0,147.9,1) 100%); }
    30% { background: linear-gradient(90deg, rgba(153.0,0,102.0,1) 0%, rgba(102.0,0,153.0,1) 100%); }
    31% { background: linear-gradient(90deg, rgba(158.1,0,96.9,1) 0%, rgba(96.9,0,158.1,1) 100%); }
    32% { background: linear-gradient(90deg, rgba(163.2,0,91.8,1) 0%, rgba(91.8,0,163.2,1) 100%); }
    33% { background: linear-gradient(90deg, rgba(168.3,0,86.7,1) 0%, rgba(86.7,0,168.3,1) 100%); }
    34% { background: linear-gradient(90deg, rgba(173.4,0,81.6,1) 0%, rgba(81.6,0,173.4,1) 100%); }
    35% { background: linear-gradient(90deg, rgba(178.5,0,76.5,1) 0%, rgba(76.5,0,178.5,1) 100%); }
    36% { background: linear-gradient(90deg, rgba(183.6,0,71.4,1) 0%, rgba(71.4,0,183.6,1) 100%); }
    37% { background: linear-gradient(90deg, rgba(188.7,0,66.3,1) 0%, rgba(66.3,0,188.7,1) 100%); }
    38% { background: linear-gradient(90deg, rgba(193.8,0,61.2,1) 0%, rgba(61.2,0,193.8,1) 100%); }
    39% { background: linear-gradient(90deg, rgba(198.9,0,56.1,1) 0%, rgba(56.1,0,198.9,1) 100%); }
    40% { background: linear-gradient(90deg, rgba(204.0,0,51.0,1) 0%, rgba(51.0,0,204.0,1) 100%); }
    41% { background: linear-gradient(90deg, rgba(209.1,0,45.9,1) 0%, rgba(45.9,0,209.1,1) 100%); }
    42% { background: linear-gradient(90deg, rgba(214.2,0,40.8,1) 0%, rgba(40.8,0,214.2,1) 100%); }
    43% { background: linear-gradient(90deg, rgba(219.3,0,35.7,1) 0%, rgba(35.7,0,219.3,1) 100%); }
    44% { background: linear-gradient(90deg, rgba(224.4,0,30.6,1) 0%, rgba(30.6,0,224.4,1) 100%); }
    45% { background: linear-gradient(90deg, rgba(229.5,0,25.5,1) 0%, rgba(25.5,0,229.5,1) 100%); }
    46% { background: linear-gradient(90deg, rgba(234.6,0,20.4,1) 0%, rgba(20.4,0,234.6,1) 100%); }
    47% { background: linear-gradient(90deg, rgba(239.7,0,15.3,1) 0%, rgba(15.3,0,239.7,1) 100%); }
    48% { background: linear-gradient(90deg, rgba(244.8,0,10.2,1) 0%, rgba(10.2,0,244.8,1) 100%); }
    49% { background: linear-gradient(90deg, rgba(249.9,0,5.1,1) 0%, rgba(5.1,0,249.9,1) 100%); }
    50% { background: linear-gradient(90deg, rgba(255.0,0,0.0,1) 0%, rgba(0.0,0,255.0,1) 100%); }
    51% { background: linear-gradient(90deg, rgba(249.9,0,5.1,1) 0%, rgba(5.1,0,249.9,1) 100%); }
    52% { background: linear-gradient(90deg, rgba(244.8,0,10.2,1) 0%, rgba(10.2,0,244.8,1) 100%); }
    53% { background: linear-gradient(90deg, rgba(239.7,0,15.3,1) 0%, rgba(15.3,0,239.7,1) 100%); }
    54% { background: linear-gradient(90deg, rgba(234.6,0,20.4,1) 0%, rgba(20.4,0,234.6,1) 100%); }
    55% { background: linear-gradient(90deg, rgba(229.5,0,25.5,1) 0%, rgba(25.5,0,229.5,1) 100%); }
    56% { background: linear-gradient(90deg, rgba(224.4,0,30.6,1) 0%, rgba(30.6,0,224.4,1) 100%); }
    57% { background: linear-gradient(90deg, rgba(219.3,0,35.7,1) 0%, rgba(35.7,0,219.3,1) 100%); }
    58% { background: linear-gradient(90deg, rgba(214.2,0,40.8,1) 0%, rgba(40.8,0,214.2,1) 100%); }
    59% { background: linear-gradient(90deg, rgba(209.1,0,45.9,1) 0%, rgba(45.9,0,209.1,1) 100%); }
    60% { background: linear-gradient(90deg, rgba(204.0,0,51.0,1) 0%, rgba(51.0,0,204.0,1) 100%); }
    61% { background: linear-gradient(90deg, rgba(198.9,0,56.1,1) 0%, rgba(56.1,0,198.9,1) 100%); }
    62% { background: linear-gradient(90deg, rgba(193.8,0,61.2,1) 0%, rgba(61.2,0,193.8,1) 100%); }
    63% { background: linear-gradient(90deg, rgba(188.7,0,66.3,1) 0%, rgba(66.3,0,188.7,1) 100%); }
    64% { background: linear-gradient(90deg, rgba(183.6,0,71.4,1) 0%, rgba(71.4,0,183.6,1) 100%); }
    65% { background: linear-gradient(90deg, rgba(178.5,0,76.5,1) 0%, rgba(76.5,0,178.5,1) 100%); }
    66% { background: linear-gradient(90deg, rgba(173.4,0,81.6,1) 0%, rgba(81.6,0,173.4,1) 100%); }
    67% { background: linear-gradient(90deg, rgba(168.3,0,86.7,1) 0%, rgba(86.7,0,168.3,1) 100%); }
    68% { background: linear-gradient(90deg, rgba(163.2,0,91.8,1) 0%, rgba(91.8,0,163.2,1) 100%); }
    69% { background: linear-gradient(90deg, rgba(158.1,0,96.9,1) 0%, rgba(96.9,0,158.1,1) 100%); }
    70% { background: linear-gradient(90deg, rgba(153.0,0,102.0,1) 0%, rgba(102.0,0,153.0,1) 100%); }
    71% { background: linear-gradient(90deg, rgba(147.9,0,107.1,1) 0%, rgba(107.1,0,147.9,1) 100%); }
    72% { background: linear-gradient(90deg, rgba(142.8,0,112.2,1) 0%, rgba(112.2,0,142.8,1) 100%); }
    73% { background: linear-gradient(90deg, rgba(137.7,0,117.3,1) 0%, rgba(117.3,0,137.7,1) 100%); }
    74% { background: linear-gradient(90deg, rgba(132.6,0,122.4,1) 0%, rgba(122.4,0,132.6,1) 100%); }
    75% { background: linear-gradient(90deg, rgba(127.5,0,127.5,1) 0%, rgba(127.5,0,127.5,1) 100%); }
    76% { background: linear-gradient(90deg, rgba(122.4,0,132.6,1) 0%, rgba(132.6,0,122.4,1) 100%); }
    77% { background: linear-gradient(90deg, rgba(117.3,0,137.7,1) 0%, rgba(137.7,0,117.3,1) 100%); }
    78% { background: linear-gradient(90deg, rgba(112.2,0,142.8,1) 0%, rgba(142.8,0,112.2,1) 100%); }
    79% { background: linear-gradient(90deg, rgba(107.1,0,147.9,1) 0%, rgba(147.9,0,107.1,1) 100%); }
    80% { background: linear-gradient(90deg, rgba(102.0,0,153.0,1) 0%, rgba(153.0,0,102.0,1) 100%); }
    81% { background: linear-gradient(90deg, rgba(96.9,0,158.1,1) 0%, rgba(158.1,0,96.9,1) 100%); }
    82% { background: linear-gradient(90deg, rgba(91.8,0,163.2,1) 0%, rgba(163.2,0,91.8,1) 100%); }
    83% { background: linear-gradient(90deg, rgba(86.7,0,168.3,1) 0%, rgba(168.3,0,86.7,1) 100%); }
    84% { background: linear-gradient(90deg, rgba(81.6,0,173.4,1) 0%, rgba(173.4,0,81.6,1) 100%); }
    85% { background: linear-gradient(90deg, rgba(76.5,0,178.5,1) 0%, rgba(178.5,0,76.5,1) 100%); }
    86% { background: linear-gradient(90deg, rgba(71.4,0,183.6,1) 0%, rgba(183.6,0,71.4,1) 100%); }
    87% { background: linear-gradient(90deg, rgba(66.3,0,188.7,1) 0%, rgba(188.7,0,66.3,1) 100%); }
    88% { background: linear-gradient(90deg, rgba(61.2,0,193.8,1) 0%, rgba(193.8,0,61.2,1) 100%); }
    89% { background: linear-gradient(90deg, rgba(56.1,0,198.9,1) 0%, rgba(198.9,0,56.1,1) 100%); }
    90% { background: linear-gradient(90deg, rgba(51.0,0,204.0,1) 0%, rgba(204.0,0,51.0,1) 100%); }
    91% { background: linear-gradient(90deg, rgba(45.9,0,209.1,1) 0%, rgba(209.1,0,45.9,1) 100%); }
    92% { background: linear-gradient(90deg, rgba(40.8,0,214.2,1) 0%, rgba(214.2,0,40.8,1) 100%); }
    93% { background: linear-gradient(90deg, rgba(35.7,0,219.3,1) 0%, rgba(219.3,0,35.7,1) 100%); }
    94% { background: linear-gradient(90deg, rgba(30.6,0,224.4,1) 0%, rgba(224.4,0,30.6,1) 100%); }
    95% { background: linear-gradient(90deg, rgba(25.5,0,229.5,1) 0%, rgba(229.5,0,25.5,1) 100%); }
    96% { background: linear-gradient(90deg, rgba(20.4,0,234.6,1) 0%, rgba(234.6,0,20.4,1) 100%); }
    97% { background: linear-gradient(90deg, rgba(15.3,0,239.7,1) 0%, rgba(239.7,0,15.3,1) 100%); }
    98% { background: linear-gradient(90deg, rgba(10.2,0,244.8,1) 0%, rgba(244.8,0,10.2,1) 100%); }
    99% { background: linear-gradient(90deg, rgba(5.1,0,249.9,1) 0%, rgba(249.9,0,5.1,1) 100%); }
    100% { background: linear-gradient(90deg, rgba(0.0,0,255.0,1) 0%, rgba(255.0,0,0.0,1) 100%); }
}